body{
color: aqua;
background: brown;
}
header{
    border-bottom: solid 2px rgb(rgb(27, 24, 24));
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 165, 58);
    background: blue;
}
.chamada{
    background: chartreuse;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

