body{
color: aqua;
background: brown;
}
header{
    border-bottom: solid 2px rgb(rgb(27, 24, 24));
    padding: 20px;
    font-size: 32px;
    color: rgb(50, 42, 165);
    background: rgb(255, 72, 0);
}
.chamada{
    background: rgb(55, 0, 255);
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

